.preferences-overlay {
  background-color: var(--colorPreferencesOverlayBackground);
  color: rgb(var(--colorWhite));
  overflow: hidden;
  padding: var(--menuBarSize) 16px 16px 16px;

  .is-mac & {
    border-radius: 6px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;

    h2 {
      font-size: inherit;
      color: rgb(var(--colorRed));
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1.1;
      flex: 1 1 auto;
    }
  }

  &__content {
    font-size: 14px;
    font-weight: 500;
  }

  &__section {
    margin-bottom: 24px;

    button {
      margin-bottom: 6px;
    }

    > div:last-child {
      &,
      & > * {
        pointer-events: all;
        user-select: text;
      }
    }
  }

  &__label {
    font-size: 12px;
    font-weight: 500;
    color: rgba(var(--colorWhite), 0.4);
    margin-bottom: 4px;
  }

  &__row {
    display: flex;
    align-items: center;
  }

  &__option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    border-top: 1px solid rgba(var(--colorWhite), 0.05);
  }

  &__grey-text {
    color: rgba(var(--colorWhite), 0.5);
    font-style: italic;
  }
}

.select {
  background-color: rgba(var(--colorWhite), 0.1);
  border: 0;
  border-radius: 6px;
  font: inherit;
  height: 26px;
  color: rgb(var(--colorWhite));
}

.is-windows .select option {
  color: black;
  background-color: white;
}

.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 26px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(var(--colorWhite), 0.1);
    transition: 0.2s $ease;
    border-radius: 26px;

    &::before {
      content: '';
      position: absolute;
      height: 18px;
      width: 18px;
      left: 4px;
      bottom: 4px;
      background-color: var(--colorSwitchSliderUnchecked);
      transition: 0.2s $ease;
      border-radius: 50%;
    }
  }

  &:hover input:not(:checked) + &__slider::before {
    background-color: var(--colorSwitchSliderUncheckedHover);
  }

  input:checked + &__slider {
    background-color: rgb(var(--colorGreen));

    &::before {
      transform: translateX(18px);
      background-color: var(--colorSwitchSliderChecked);
    }
  }
}
