.preferences-overlay {
  background-color: $colorDarkGrey;
  color: white;
  overflow: hidden;
  padding: var(--menuBarSize) 16px 16px 16px;

  .is-mac & {
    border-radius: 6px;
***REMOVED***

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;

    h2 {
      font-size: inherit;
      color: $colorRed;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1.1;
      flex: 1 1 auto;
  ***REMOVED***
***REMOVED***

  &__content {
    font-size: 14px;
    font-weight: 500;
***REMOVED***

  &__section {
    margin-bottom: 24px;

    > div:last-child {
      &,
      & > * {
        pointer-events: all;
        user-select: text;
    ***REMOVED***
  ***REMOVED***
***REMOVED***

  &__label {
    font-size: 12px;
    font-weight: 500;
    color: rgba($colorWhite, 0.4);
    margin-bottom: 4px;
***REMOVED***

  &__row {
    display: flex;
    align-items: center;
***REMOVED***
}

.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
***REMOVED***

  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($colorWhite, 0.1);
    transition: 0.2s $ease;
    border-radius: 34px;
    
    &::before {
      content: '';
      position: absolute;
      height: 16px;
      width: 16px;
      left: 4px;
      bottom: 4px;
      background-color: rgba($colorWhite, 0.2);
      transition: 0.2s $ease;
      border-radius: 50%;
  ***REMOVED***
***REMOVED***

  &:hover input:not(:checked) + &__slider::before {
    background-color: rgba($colorWhite, 0.3);
***REMOVED***

  input:checked + &__slider {
    background-color: $colorGreen;
    
    &::before {
      transform: translateX(20px);
      background-color: rgba($colorWhite, 1);
  ***REMOVED***
***REMOVED***
}