.glyph-row {
  display: flex;
  flex-wrap: wrap;

  &__title {
    display: inline-flex;
    align-items: center;
    width: 100%;
    font-size: 12px;
    font-weight: 500;
    color: rgba($colorWhite, 0.4);
    padding-left: 2px;
***REMOVED***
}