.glyph-wrapper {

  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 16px;

  &__header {
    flex: 0 0 auto;
  }

  &__content {
    flex: 1 1 auto;
    overflow: hidden;
    margin-right: -14px;
  }

  &__search-wrapper {
    position: relative;
    margin-bottom: 12px;
  }

  &__search {
    width: 100%;
    padding: 8px;
    font-size: 12px;
    background-color: var(--colorSearchBackground);
    border-radius: 4px;
    font-weight: 500;
    font-variant-ligatures: none;

    &::placeholder {
      color: rgba(var(--colorWhite), 0.2);
    }
  }

  &__reset {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    color: rgba(var(--colorWhite), 0.4);
    transition: color 0.2s $ease;
    cursor: pointer;

    &:hover {
      color: rgba(var(--colorWhite), 0.6);
    }
  }

  &__overlay {
    position: absolute;
    bottom: 8px;
    left: 8px;
    width: calc(100% - 16px);
  }
}
