.glyph-check-overlay {
  background-color: $colorRed;
  color: $colorBlack;
  border-radius: 6px;
  overflow: hidden;
  // padding: 32px;

  &__glyphs {
    width: 100%;
    height: 100%;
***REMOVED***
}