.glyph-list {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  overscroll-behavior: contain;
  margin: -2px;

  &::-webkit-scrollbar-button:vertical:end {
    display: block;
    height: 32px;
  }

  &.is-expanded::-webkit-scrollbar-button:vertical:end {
    height: 54px;
  }
}