.license-check-overlay {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: $colorDarkGrey;
  color: white;
  overflow: hidden;
  padding: var(--menuBarSize) 16px 16px 16px;

  .is-mac & {
    border-radius: 6px;
***REMOVED***

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 auto;
    position: relative;
***REMOVED***

  &__footer {
    flex: 0 0 auto;
    font-size: 14px;
    font-weight: 600;
    color: rgba($colorWhite, 0.5);

    > * {
      margin: 0 4px;
  ***REMOVED***
***REMOVED***

  &__title {
    margin-bottom: 12px;
***REMOVED***
}
