.wrapper {
  position: relative;
  height: 100vh;
  padding: 48px 16px 16px 16px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 36px;
    pointer-events: none;
    -webkit-app-region: drag;
***REMOVED***

  &__search {
    width: 100%;
    padding: 8px;
    font-size: 12px;
    background-color: rgba($colorWhite, 0.05);
    border-radius: 4px;
    margin-bottom: 12px;
***REMOVED***
}