.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  padding-top: 30px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    pointer-events: none;
    -webkit-app-region: drag;
***REMOVED***

  &__content {
    flex: 1 1 auto;
    overflow: hidden;
***REMOVED***
}