.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  padding-top: var(--menuBarSize);
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.6s $easeInOut;

  &.is-loaded {
    opacity: 1;
***REMOVED***

  .is-windows:not(.is-menubar) & {
    height: 100%;
***REMOVED***

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--menuBarSize);
    pointer-events: none;
    -webkit-app-region: drag;
***REMOVED***

  &__content {
    flex: 1 1 auto;
    overflow: hidden;
    transition:
      transform 0.6s $easeInOutQuint,
      border-radius 0.6s $easeInOutQuint,
    ;
    transform-origin: center 100%;

    &.is-hidden {
      transform: scale(0.9) translateY(-8px);
      border-radius: 12px;
      pointer-events: none;
  ***REMOVED***
***REMOVED***

  &__content-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(var(--colorBlack));
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    transition:
      visibility 0.6s $easeInOutQuint,
      opacity 0.6s $easeInOutQuint,
    ;
***REMOVED***

  &__content.is-hidden &__content-overlay {
    visibility: visible;
    opacity: 1;
***REMOVED***

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
***REMOVED***
}
