.license-input {

  text-align: center;

  &__input {
    width: 100%;
    padding: 8px 0;
    margin-bottom: 16px;
    background-color: transparent;
    color: rgb(var(--colorWhite));
    font-family: 'Fira Code', monospace;
    font-weight: 500;
    letter-spacing: 0.2px;
    font-size: 14px;
    text-align: inherit;
    transition: color 0.5s $ease;

    &.is-success {
      color: rgb(var(--colorWhite));
    }

    &.is-error {
      color: rgb(var(--colorRed));
      animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
    }

    &:disabled {
      color: rgba(var(--colorWhite), 0.5);
    }

    &::placeholder {
      color: rgba(var(--colorWhite), 0.2);
    }
  }

  &__error-wrapper {
    position: absolute;
    left: 0;
    right: 0;
  }

  &__error {
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: rgb(var(--colorRed));
  }

  &__retry {
    margin-top: 8px;
    margin-left: 4px;
    padding: 4px 6px;
    border-radius: 6px;
    background-color: rgba(var(--colorRed), 0.2);
  }

}
