.glyph-data {
  height: 96px;
  background-color: rgba(rgb(40, 40, 40), 0.6);
  backdrop-filter: blur(15px);
  color: $colorWhite;
  border-radius: 6px;
  padding: 16px;
  font-weight: bold;
  box-shadow:
    0px 0px 40px 2px rgba($colorBlack, 0.8),
    0px 0px 8px 1px rgba($colorBlack, 0.4),
  ;

  &__name {
    color: $colorRed;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.1;
***REMOVED***
}