.glyph-data {

  &__card {
    color: $colorWhite;
    border-radius: 6px;
    padding: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow:
      0px 0px 40px 2px rgba(var(--colorBlack), 0.8),
      0px 0px 8px 1px rgba(var(--colorBlack), 0.4),
    ;

    .is-windows & {
      background-color: rgba(rgb(40, 40, 40), 1);
  ***REMOVED***

    .is-mac & {
      background-color: rgba(rgb(40, 40, 40), 0.6);
      backdrop-filter: blur(15px);
  ***REMOVED***
***REMOVED***

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
***REMOVED***

  &__name {
    color: $colorRed;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.1;
    flex: 1 1 auto;
***REMOVED***

  &__icon {
    flex: 0 0 auto;
    margin-left: 2px;
    opacity: 0.4;
    transform: rotate(180deg);

    &.is-active {
      transform: rotate(0deg);
  ***REMOVED***
***REMOVED***

  &__label {
    font-size: 12px;
    font-weight: 500;
    color: rgba($colorWhite, 0.4);
***REMOVED***

  &__content {
    padding-top: 8px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    overscroll-behavior: contain;

    &::-webkit-scrollbar {
      width: 0px;
      height: 0px;
  ***REMOVED***
***REMOVED***

  &__item {
    margin-left: 12px;

    &:first-child {
      margin-left: 0;
  ***REMOVED***
***REMOVED***

  &__clipboard {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: calc(100% + 8px);
    pointer-events: none;
***REMOVED***

  &__empty {
    opacity: 0.2;
***REMOVED***
}
