.clipboard-badge {
  display: flex;
  align-items: center;
  justify-content: center;

  &__inner {
    display: inline-flex;
    align-items: center;
    background-color: $colorRed;
    color: $colorBlack;
    padding: 4px 6px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 700;
    box-shadow:
      0px 0px 40px 2px rgba($colorBlack, 0.4),
      0px 0px 8px 1px rgba($colorBlack, 0.2),
    ;
***REMOVED***

  &__icon {
    width: 10px;
    height: 10px;
    margin-right: 4px;
***REMOVED***
}