.progress-bar {
  position: relative;
  width: 100%;
  height: 4px;
  background-color: rgba(var(--colorBlack), 0.1);
  border-radius: 4px;
  margin: 8px 0;
  overflow: hidden;

  &__bar {
    height: 100%;
    background-color: rgb(var(--colorBlack));
    border-radius: inherit;
    transition: width 1s $ease;
***REMOVED***
}
