.glyph-item {
  display: inline-flex;
  width: 58px;
  height: 58px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 600;
  background-color: rgba($colorWhite, 0.05);
  overflow: hidden;
  margin: 2px;

  &.is-emoji {
    font-family:
      // 'Inter',
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Helvetica,
      Arial,
      sans-serif,
      'Apple Color Emoji',
      'Segoe UI Emoji',
      'Segoe UI Symbol'
    ;
***REMOVED***

  &:hover {
    background-color: rgba($colorWhite, 0.05);
***REMOVED***

  &.is-active {
    background-color: $colorRed;
    color: $colorBlack;
***REMOVED***
}