.glyph-item {
  // display: inline-flex;
  display: block;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 24px;
  font-weight: 600;

  &:hover {
    background-color: rgba($colorWhite, 0.05);
***REMOVED***

  &.is-active,
  &:focus {
    background-color: $colorRed;
***REMOVED***
}