.glyph-item {
  display: inline-flex;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  &:hover {
    background-color: rgba($colorWhite, 0.05);
***REMOVED***

  &.is-active {
    background-color: $colorRed;
***REMOVED***
}