.glyph-item {
  display: inline-flex;
  width: 58px;
  height: 58px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 600;
  background-color: rgba(var(--colorWhite), 0.09);
  overflow: hidden;
  margin: 2px;
  white-space: pre;
  cursor: pointer;

  &.is-emoji {
    font-family: none;
***REMOVED***

  &.is-space &__symbol {
    border-radius: 2px;
    background-size: 5px 5px;
    background-image: linear-gradient(
      135deg,
      rgba($colorRed, 0.6) 16.67%,
      rgba(var(--colorBlack), 0.6) 16.67%,
      rgba(var(--colorBlack), 0.6) 50%,
      rgba($colorRed, 0.6) 50%,
      rgba($colorRed, 0.6) 66.67%,
      rgba(var(--colorBlack), 0.6) 66.67%,
      rgba(var(--colorBlack), 0.6) 100%,
    );
***REMOVED***

  &:hover {
    background-color: rgba(var(--colorWhite), 0.1);
***REMOVED***

  &.is-active {
    background-color: $colorRed;
    color: rgb(var(--colorBlack));
***REMOVED***
}
