.glyph-item {
  display: inline-flex;
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 24px;
  font-weight: 600;

  &:hover {
    background-color: rgba($colorWhite, 0.05);
***REMOVED***

  &.is-active {
    background-color: $colorRed;
    color: $colorBlack;
***REMOVED***
}